Collecting freeze
  Downloading freeze-3.0.tar.gz (188 kB)
Requirement already satisfied: six in c:\users\sh\anaconda3\lib\site-packages (from freeze) (1.12.0)
Building wheels for collected packages: freeze
  Building wheel for freeze (setup.py): started
  Building wheel for freeze (setup.py): finished with status 'done'
  Created wheel for freeze: filename=freeze-3.0-py3-none-any.whl size=12105 sha256=e1db94816ad6ade061d839b6f50104500cc70d725d257b1cfdc8a1db906f9ebf
  Stored in directory: c:\users\sh\appdata\local\pip\cache\wheels\9b\c8\58\919fdda51f881bfbf09558405b721d511ea2dabd674127d508
Successfully built freeze
Installing collected packages: freeze
Successfully installed freeze-3.0
